{{!-- Place everything in one row --}}
<div class="container-fluid">
  {{!-- Top of display --}}

  {{!-- Top-left corner: choose type of search --}}
  {{!-- Fixed-width container --}}
  <div class="input-box container col-sm-2 height-row-0">
    <span>
      Search selector goes here
    </span>
  </div>

  {{!-- Fixed-width container: matrix image--}}
  <div class="test-box container col-sm-2 height-row-0">
    <span>
      <img src="https://user-images.githubusercontent.com/6785602/28333910-70d517fe-6bc7-11e7-8763-1a4325443bca.png" class="img-responsive">
    </span>
  </div>

  {{!-- Fixed-width container: app title --}}
  <div class="test-box app-title container col-sm-4 height-row-0">
    All the Matrices
  </div>

  {{!-- Fixed-width container: logged-in user description --}}
  <div class="test-box container col-sm-2 height-row-0">
    Logged in user name & organization
  </div>

  {{!-- Top-right corner: authentication actions --}}
  <div class="test-box container col-sm-2 height-row-0">
    Authentication actions
  </div>
</div>
