<div class="box row container-fluid">
  {{!-- Top of display --}}

  {{!-- Top-left corner: choose type of search --}}
  <div class="box-input container col-sm-2 height-row-0">
    <span clase="text-container">
      Search selector goes here
    </span>
  </div>

    {{!-- Fixed-width container: app title --}}
    <div class="box app-title container col-sm-4 height-row-0">
      <span>
        All the Matrices
      </span>
    </div>

  {{!-- Fixed-width container: matrix image--}}
  <div class="box-image pull-left container col-sm-2 height-row-0">
    <span>
      <img class="height-row-0" src="https://user-images.githubusercontent.com/6785602/28335483-836d8554-6bcc-11e7-8543-76a7f8685582.png" class="img-responsive">
    </span>
  </div>

  {{!-- Fixed-width container: logged-in user description --}}
  <div class="box container col-sm-2 height-row-0">
    <span clase="text-container">
      Eric Scace<br>Skaneateles Press
    </span>
  </div>

  {{!-- Top-right corner: authentication actions --}}
  <div class="box container col-sm-1 height-row-0">
    <span class="text-click">
      Register
    </span>
  </div>
  <div class="box container col-sm-1 height-row-0">
    <span class="text-click">
      Sign in
    </span>
  </div>
</div>
