{{!-- Top of display --}}

{{!-- Top-left corner: choose type of search --}}

{{!-- Center: app icon & title --}}
<div class="app-title col-md-offset-2 col-md-6">
  <h1> All the Linotype Matrices </h1>
</div>

{{!-- Top-right corner: authentication --}}
