{{!-- Place everything in one row --}}
<div class="container-fluid">
  {{!-- Top of display --}}

  {{!-- Top-left corner: choose type of search --}}
  {{!-- Fixed-width container --}}
  <div class="input-box container col-sm-2 height-row-0">
    <span clase="text-container">
      Search selector goes here
    </span>
  </div>

    {{!-- Fixed-width container: app title --}}
    <div class="box-unbordered app-title container col-sm-4 height-row-0">
      <span>
        All the Matrices
      </span>
    </div>

  {{!-- Fixed-width container: matrix image--}}
  <div class="box-unbordered pull-left container col-sm-2 height-row-0">
    <span>
      <img class="height-row-0" src="https://user-images.githubusercontent.com/6785602/28333910-70d517fe-6bc7-11e7-8763-1a4325443bca.png" class="img-responsive">
    </span>
  </div>

  {{!-- Fixed-width container: logged-in user description --}}
  <div class="box-bordered container col-sm-2 height-row-0">
    <span clase="text-container">
      Logged in user name<br>organization
    </span>
  </div>

  {{!-- Top-right corner: authentication actions --}}
  <div class="box-unbordered container col-sm-1 height-row-0">
    <span class="text-click">
      Register
    </span>
  </div>
  <div class="box-unbordered container col-sm-1 height-row-0">
    <span class="text-click">
      Sign in
    </span>
  </div>
</div>
