<div class="box row container-fluid">
  <div class="box-input container col-sm-offset-4 col-sm-4">
    {{email-input email=credentials.email}}
    {{password-input password=credentials.password}}

    <button type="submit" class="btn btn-primary" {{action "submit"}}>
      Sign In
    </button>

    <button class="btn btn-default" {{action "reset"}}>
      Cancel
    </button>
    </div>
</div>
