<div class="box-bordered row container-fluid">
  {{!-- <div class="box-bordered col-sm-12"> --}}
    <table class="table-striped table-condensed table-responsive">
      <thead class="table-heading">
        <tr>
          <th class="box-bordered col-sm-1">matrix</th>
          <th class="box-bordered col-sm-4">normal position</th>
          <th class="box-bordered col-sm-4">auxiliary position</th>
          <th class="box-bordered col-sm-2">notes</th>
          <th class="box-bordered col-sm-1">you own</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5.75 Δ 1234</td>
          <td>5¾ pt Helvetica bold condensed</td>
          <td>with italic & small caps</td>
          <td>Teletypesetting. References.</td>
          <td>0 sets</td>
        </tr>
      </tbody>
    </table>
  {{!-- </div> --}}
</div>
