// borders
$black: #000;

// clickable text
$blue: #00f;

// Viewport background
// Unclickable areas
$gray:  #eee;

// Working area that should have user's attention
$white: #fff;

// Urgent message text color.
$red:   #f00;

// diagnostic colors:
$test-blue:   #eef;
$test-green:  #efe;
$test-red:    #fee;
