$black: #000;
// for:
//    borders

$gray:  #eee;
// for:
//    Viewport background
//    Unclickable areas

$white: #fff;
// for:
//    Working area that should have user's attention

$red:   #f00;
// for:
//    Urgent message text color.

// diagnostic colors:
$test-blue:   #eef;
$test-green:  #efe;
$test-red:    #fee;
