@import './colors';
@import './shapes';
@import './typography';

// Classes are for styling.
// IDs are for UX behavior.

body {
  background-color: $gray;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

.app-title {
  font-size: $font-size-title;
  text-align: right;
}

.box {
  border: $border-test;
  border-radius: $border-radius;
  padding: $padding;
}

.box-image {
  // border: $border-test;
  // border-radius: $border-radius;
  padding: 0;
  padding-left: $padding;
}

// Override Ember's override to keep input fields inside their containing div
.form-horizontal {
  margin-bottom: 0;
  margin-top: $font-size / 3;
}

.height-row-0 {
  height: $height-row-0;
}

.box-input {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  // height: $height-row-0;
  // margin-right: $box-shadow-thickness;
  padding: $padding;
}

.text-click {
  bottom: $padding / 2;
  color: $text-click-color;
  position: absolute;
}

.text-container {
  bottom: 0;
  position: absolute;
}

.table-heading {
  color: $text-heading-color;
  font-weight: $text-heading-weight;
}

// Overrides Ember's default input field width
.tweak-input {
  margin-left: 15px;
  width: 86%;
}
// .announcement {
//   color: $red;
//   margin-top: $font-size;
// }
//
//
// .authn {
//   display: inline;
//   height: 3 * $font-size;
// }
//
// .icon {
//   margin-left: $font-size;
//   margin-right: $font-size;
// }
//
// .code-prefix {
//   text-align: right;
// }
//
// .container-fluid {
//   display: inline;
//   max-width: 786px;
//   min-width: 640px;
// }
//
// #change-settings-request {
//   cursor: pointer;
// }
//
// .logged-in-user {
//   text-align: right;
// }
//
// .matrix {
//   margin-top: $font-size;
// }
//
// .number {
//   text-align: right;
// }
//
// .response {
//   margin-top: 3 * $font-size;
// }
//
// .schrödinger {
//   text-align: center;
// }
