@import './colors';
@import './typography';

$border-radius: 8px;
$border-test: 1px dashed;
$box-shadow: ($font-size / 6) ($font-size / 6) ($font-size / 3) $black;
$min-height-row-0: 3 * $font-size;
$padding: $font-size / 3;
