@import './colors';
@import './typography';

// heights:
$min-height-row-0: 4 * $font-size;

// radii:
$border-radius: 8px;

// shadows:
$box-shadow: 2px 2px 4px $black;

//
$border-test: 1px dashed;
