$font-family:     botanika-web, sans-serif;
$font-size:       18px;   // foundation font size
$font-size-title: 2 * $font-size;
$font-style:      normal;
$font-weight:     400;
$line-height:     1.2;
