@import './colors';
$font-family:     botanika-web, sans-serif;
$font-size:       16px;   // foundation font size
$line-height:     1.2;

$font-size-title: (1 + $line-height) * $font-size;
$font-style:      normal;
$font-weight:     400;

$text-click-color: $blue;
$text-heading-color: $dark-gray;
$text-heading-weight: 600;
